<!-- partial HTML -->
<div id="ov-byon-networks">
    <div class="tabular-header">
        <h2>Items ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-id="refresh" icon-size="36"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>

        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="id" sortable>Item ID </td>
                    <td colId="hostCount" sortable>Host Count </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table>
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="2">
                        No Items found
                    </td>
                </tr>

                <tr ng-repeat="network in tableData track by $index"
                    ng-click="selectCallback($event, network)"
                    ng-class="{selected: network.id === selId}">
                    <td>{{network.id}}</td>
                    <td>{{network.hostCount}}</td>
                </tr>
            </table>
        </div>

    </div>

    <ov-byon-networks-details-panel></ov-byon-networks-details-panel>
</div>
