/* css for UI Reference App custom view */

#ov-ui-ref-custom {
    padding: 20px;
}
.light #ov-ui-ref-custom {
    color: navy;
}
.dark #ov-ui-ref-custom {
    color: #88f;
}

#ov-ui-ref-custom .button-panel {
    margin: 10px;
    width: 200px;
}

.light #ov-ui-ref-custom .button-panel {
    background-color: #ccf;
}
.dark #ov-ui-ref-custom .button-panel {
    background-color: #444;
}

#ov-ui-ref-custom .my-button {
    cursor: pointer;
    padding: 4px;
    text-align: center;
}

.light #ov-ui-ref-custom .my-button {
    color: white;
    background-color: #99d;
}
.dark #ov-ui-ref-custom .my-button {
    color: black;
    background-color: #aaa;
}

#ov-ui-ref-custom .data-panel {
    display: inline-block;
    background-color: #eee;
    padding: 12px;
    margin: 4px;
    vertical-align: top;
}

#ov-ui-ref-custom .data-panel svg g.icon {
    cursor: pointer;
}

#ov-ui-ref-custom .data-panel svg g.icon rect {
    fill: lightsteelblue;
}
#ov-ui-ref-custom .data-panel svg g.icon use {
    fill: darkslateblue;
}

#ov-ui-ref-custom .number {
    font-size: 140%;
    text-align: right;
}

#ov-ui-ref-custom .quote {
    margin: 10px 20px;
    font-style: italic;
}